@import 'rsuite/dist/rsuite.min.css';

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  overflow: hidden;
  scrollbar-gutter: stable;
}

html.media-modal-open {
  overflow: hidden !important;
  scrollbar-gutter: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html.media-modal-open::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

body {
  font-family:
    Apple-System,
    'Hiragino Kaku Gothic ProN',
    Hiragino Sans GB,
    Arial,
    Helvetica,
    PingFang SC,
    Meiryo,
    Microsoft YaHei,
    STXihei,
    sans-serif;
  height: 100%;
  overflow: hidden;
}

body.rs-modal-open {
  overflow: hidden !important;
  padding-right: 0 !important;
}

body.media-modal-open {
  overflow: hidden !important;
  scrollbar-gutter: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body.media-modal-open::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.login-page {
  padding-top: 70px;
}

#__next {
  height: 100%;
  overflow: hidden;
}

.index {
  height: 100%;
  overflow: hidden;
}
